body {
    background-color: black;
    color: white; 
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 10px;   
    align-items: center;
}  

.container {
    align-items: center;
    max-width: 300px;
    display: block;
    background-color: rgb(23, 22, 22);
    flex-wrap: wrap;
    margin-left: 425px;
    margin-top: 50px;
    padding-bottom: 10px;
    border-radius: 5px;
    
}

.profile {
    padding-left: 75px;
    padding-top: 20px;    
}

img {
    width: 150px;
    border-radius: 50%;
}

.top {
    text-align: center;
}

h2 {
    color: rgb(137, 206, 35);
}

p {
    color: rgb(159, 158, 158);
}

.menu {
    
    justify-content: space-around;
}
.section1 {
    background-color: rgb(53, 52, 52);
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 5px;
    font-weight: bold;
}

.section2 {
    background-color: rgb(53, 52, 52);
    padding: 10px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 5px;
    font-weight: bold;
}

.section3 {
    background-color: rgb(53, 52, 52);
    padding: 10px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 5px;
    font-weight: bold;
}

.section4 {
    background-color: rgb(53, 52, 52);
    padding: 10px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 5px;
    font-weight: bold;
}

.section5 {
    background-color: rgb(53, 52, 52);
    padding: 10px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 5px;
    font-weight: bold;
}